<h1>All Posts</h1>

<% @posts.each_with_index do |post, i| %>
  <% post.title += "SPAM" if i % 5 == 0 %>
  <div class="media">
     <div class="media-body">
       <h4 class="media-heading">
         <%= link_to post.title, post %>
       </h4>
     </div>
   </div>
<% end %>
